body
{
    background-color: #081141;
    color: #ffffff;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main
{
    height: 100dvh;
    height: 100vh;
}
p
{
    margin: 0;
}
.src-main-text,
.score-text,
.max-score-text
{
    font-weight: 900;
    font-size: clamp(1rem, 4.5vw, 1.5rem);
    text-align: center;
}
/* CLASSES */
.header-container
{
    height: 75px;
    background-color: #0a1b78;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header
{
    font-size: clamp(1rem, 8vw, 2rem);
    font-weight: 1000;
    text-align: center;
    padding: 16px;
}
.footer-container
{
    background-color: #0a1b78;
    height: 75px;
    display: flex;
}
.src
{
    color: #ffffff;
    text-decoration: none;
    width: 100dvw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 25px;
}
.src-img
{
    width: 50px;
    height: auto;
}
.src-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.src-main-text
{
    text-align: start;
}
.src-sub-text
{
    font-size: clamp(0.25rem, 8vw, 1rem);
}
.content-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* IDS */
#active
{
    background-color: #1330ce;
}
/* PSEUDO CLASSES */
.src:hover
{
    background-color: #1800ad;
}
/* DOM Elements */
.score-container
{
    width: 30vw;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
.score-container > *
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.score-num
{
    font-weight: 900;
    font-size: clamp(1rem, 10vw, 4rem);
    text-align: center;
}
.versus-text
{
    font-weight: 900;
    font-size: clamp(1rem, 4.5vw, 2rem);
    text-align: center;
}
.max-score-form
{
    background-color: #0a1b78;
    padding: 32px 56px 32px 56px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}