body
{
    background-color: #081141;
    color: #FFFFFF;
}
a
{
    text-decoration: none;
    color: #FFFFFF;
}
.chat-list-container
{
    width: clamp(200px, 10%, 300px);
    display: flex;
    flex-direction: column;
    background-color: #0A1B78;
}