body
{
    background-color: #081141;
    color: #ffffff;
    margin: 0;
    font-family: sans-serif;
}
/* CLASSES */
.header-container
{
    height: 75px;
    background-color: #0a1b78;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header
{
    font-size: clamp(1rem, 8vw, 2rem);
    font-weight: 1000;
    text-align: center;
    margin: 0;
    padding: 16px;
}
.footer-container
{
    background-color: #0a1b78;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}